/* Header */
.wrapper {
    position: relative;
}
.logo {
    font: var(--h1);
    color: var(--clr-30);
    text-decoration: none;
    cursor: pointer;
}
.menu-toggle {
    display: block;
    position: absolute;
    right: var(--spacing-8);
}
.nav {
    display: none;
}
.nav.show {
    display: block;
}
.nav-list {
    display: flex;
    flex-direction: row;
}
.nav-link {
    font: var(--fs-nav);
    color: var(--clr-30);
    text-decoration: none;
    /* padding: var(--spacing-2) var(--spacing-4); */
    transition: color var(--transition-speed) ease-in-out;
}
.nav-link:hover {
    color: var(--clr-0);
}
/* .nav-link:hover {
    background-color: var(--clr-30);
    color: var(--clr-100);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--spacing-4);
} */

@media (min-width: 600px) {
    .menu-toggle {
        display: none;
    }
    .nav {
        display: flex;
    }
    .nav-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-8);
    }
}
